@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fira+Code:wght@300;400&family=Lobster&family=Oswald:wght@200;300;400;500;600;700&family=PT+Serif:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* font-family: 'Abril Fatface',
cursive;
font-family: 'Fira Code',
monospace;
font-family: 'Lobster',
cursive;
font-family: 'Oswald',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'PT Serif',
serif; */

.lobsterFont{
  font-family: 'Lobster',
      cursive !important;
}
.navMainList li{
  padding:10px  15px;
  transition: all 0.5s;
  cursor: pointer;
}
.navMainList li:hover{
background-color: rgb(206, 119, 5);
}
/* dubble extra large */
@media only screen and (min-width: 1400px) {
  .mainContainer {
    width: 1320px !important;
  }
}

/* extara large */
@media only screen and (min-width: 1200px) and (max-width:1400px) {
  .mainContainer {
    width: 1140px !important;
  }

}

/* large device */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .mainContainer {
    width: 960px !important;
  }
}

/* medium device */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mainContainer {
    width: 720px !important;
  }
}

/* small device */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .mainContainer {
    width: 540px !important;
  }
}

/* extra small */
@media only screen and (max-width: 576px) {
  .mainContainer {
    width: 90% !important;
  }
}